@font-face {
    font-family: ttf;
    src: url(comic.ttf);
}

body {
    background-image: url(95c.jpg);
    background-color: #cccccc;
    font-family: ttf;
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 30pp;
    text-align: center;
    color: white;
}